th, td {
  font-size: 12px !important;
  min-width: inherit;
  padding-top: 0.5rem;
  padding-right: inherit;
  padding-bottom: 0.5rem;
  padding-left: inherit;
  background-color: #fff;
  border-bottom: 1px solid rgba(238, 235, 238, 0.5);
  border-left: 1px solid #eeebee;
}
