---
---

@import "{{ site.theme }}";

section {
  margin-top: 20px
}

nav {
  top: 50px
}


body {
  font-family: 'Dosis', sans-serif;
  font-size: 19px;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Dosis', sans-serif;
}

nav ul li.tag-h1 {
  font-size: 24px;
  line-height: 28px;
}

h1 {
  font-size: 24px
}

h2 {
  font-size: 23px
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 20px;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 13px;
  color: #fbfbfb;
}

nav ul li {
  padding: 8px 4px;
  line-height: 22px;
  font-size: 19px;
}