---
---

@import "{{ site.theme }}";

body {
  font-family:'Dosis', sans-serif;
  font-size: 20px;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Dosis', sans-serif;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  color: #fbfbfb;
}